<!-- Modal -->
<div class="modal fade" id="seachmodal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="crap-search">
                <button type="button" class="pop-close" data-bs-dismiss="modal" aria-label="Close"><i class="ri-close-line"></i></button>
                <form action="/search" method="get" class="search-bar" id="search-bar"  role="search">
                  <div class="form-search">
                    <input type="hidden" name="type" value="product">
                    <input type="hidden" name="options[unavailable_products]" value="show">
                    <input type="hidden" name="options[prefix]" value="last">
                    <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ settings.search_bar_placeholder }}" id="search" class="input-text" aria-label="{{ 'general.search.placeholder' | t }}" required>
                    <button class="search-btn" type="submit"><i class="ri-search-line"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #seachmodal .modal-dialog{
    margin: 0px;
    padding: 30px 0px;
    max-width: 100%;
    background-color: #FFFFFF;
  }
  #seachmodal .modal-content{
    border: none;
  }
  #seachmodal .modal-body{
    padding: 0px;
  }
  #seachmodal .crap-search{
    display: flex;
    flex-direction: column;
  }
  #seachmodal button.pop-close{
    color: var(--font-color-primary);
    font-size: 17px;
    {% if settings.enable_rtl %}
    text-align: left;
    {% else %}
    text-align: right;
    {% endif %}
    line-height: 1;
  }
  #seachmodal button.pop-close:hover{
    color: var(--font-color-body);
  }
  #seachmodal .crap-search .search-bar{
    margin: 0px;
  }
  #seachmodal .crap-search .form-search{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  #seachmodal .crap-search .form-search input.input-text{
    padding: 10px 0px;
    width: 100%;
    border: none;
    border-bottom: var(--sti-border);
    background-color: transparent;
    border-radius: 0px;
  }
  #seachmodal .crap-search .form-search button{
    color: var(--font-color-primary);
    font-size: 18px;
    position: absolute;
    {% if settings.enable_rtl %}
    left: 0px;
    {% else %}
    right: 0px;
    {% endif %}
  }
  #seachmodal .crap-search .form-search button:hover{
    color: var(--font-color-body);
  }
</style>