<a href="javascript:void(0)" class="action-wishlist tile-actions--btn wishlist-btn wishlist" data-product-handle="{{ product.handle }}" {% if settings.tooltip_enable %}data-bs-toggle="tooltip" data-bs-placement="top" title="{{ settings.tooltip_wishlist_title }}"{% endif %}>
    <span class="add-wishlist btn-icon"><i class="ri-heart-line"></i></span>
    <span class="loading-wishlist load-anim"><i class="feather-loader"></i></span>
    <span class="remove-wishlist"><i class="feather-x"></i></span>
</a>