<a class="action-wishlist action-wishlist2 wishlist-btn wishlist" href="javascript:void(0)" data-product-handle="{{ product.handle }}">
  <span class="add-wishlist"><i class="ri-heart-line"></i></span>
  <span class="loading-wishlist load-anim"><i class="ri-loader-4-line"></i></span>
  <span class="remove-wishlist"><i class="ri-heart-fill"></i></span>
</a>
<style type="text/css">
a.action-wishlist2 {
  color: var(--font-color-secondary);
  font-size: 20px;
  line-height: 0;
}
</style>