<a class="action-wishlist wishlist-btn wishlist" href="javascript:void(0)" data-product-handle="{{ product.handle }}" data-product-handle="{{ product.handle }}" data-bs-toggle="tooltip" data-placement="top" title="{{ settings.add_wishlit_title }}">
  <span class="add-wishlist"><i class="ri-heart-line"></i></span>
  <span class="loading-wishlist load-anim"><i class="ri-loader-4-line"></i></span>
  <span class="remove-wishlist"><i class="ri-heart-fill"></i></span>
</a>