<div class="password-footer">
  {% if section.settings.show_share_buttons %}
  <div class="password-social-sharing">
    <span class="password__form-heading">{{ section.settings.social_message | escape }}</span>
    <div class="password-footer-social">
      {% render 'social-sharing' %}
    </div>
  </div>
  {% endif %}
  <div class="password-powered-by">
    {{ powered_by_link }}
  </div>
</div>
{% schema %}
{
  "name": "Password Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": "Social sharing buttons heading",
      "default": "Spread the word"
    }
  ]
}
{% endschema %}
<style>
  .password-footer .password-social-sharing{
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .password-footer .password-social-sharing span.password__form-heading{
    display: block;
    color: var(--font-color-body);;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
  }
  .password-footer .password-social-sharing .password-footer-social{
    margin-top: 25px;
  }
  .password-footer .password-social-sharing .password-footer-social ul.social-sharing{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    {% if settings.enable_rtl %}
    margin: -5px -15px 0px 0px;
    {% else %}
    margin: -5px 0px 0px -15px;
    {% endif %}
  }
  .password-footer .password-social-sharing .password-footer-social ul.social-sharing li{
    {% if settings.enable_rtl %}
    margin: 5px 15px 0px 0px;
    {% else %}
    margin: 5px 0px 0px 15px;
    {% endif %}
  }
  .password-footer .password-social-sharing .password-footer-social ul.social-sharing li a{
    display: block;
    font-size: 24px;
    line-height: 1;
  }
  .password-footer .password-social-sharing .password-footer-social ul.social-sharing li a.share-facebook{
    color: #3B5998;
  }
  .password-footer .password-social-sharing .password-footer-social ul.social-sharing li a.share-twitter{
    color: #00ACED;
  }
  .password-footer .password-social-sharing .password-footer-social ul.social-sharing li a.share-pinterest{
    color: #CB2027;
  }
  .password-footer .password-social-sharing .password-footer-social ul.social-sharing li a span.share-title,
  .password-footer .password-social-sharing .password-footer-social ul.social-sharing li a span.visually-hidden{
    display: none;
  }

  /* powered by shopify css */
  .password-footer .password-powered-by{
    margin-top: 26px;
  }
  .password-footer .password-powered-by a{
    display: block;
    font-size: 13px;
    opacity: 0.6;
    
    line-height: 1;
  }
</style>
