/*=====================================
    password css
======================================*/
html,
body{
    height: 100%;
}

/* password page css */
.password-page{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
@media (max-width: 767px) {
    .password-page{
        padding: 30px 15px;
    }
}
@media (max-width: 320px) {
    .password-page{
        padding: 30px 15px;
        justify-content: flex-start;
        overflow-y: auto;
    }
}